<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <!-- SITE TITTLE -->
    <title><%= full_title(yield(:title)) %></title>

    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>

    <%= render 'layouts/tags' %>
    <%= render 'layouts/correspondence_IE9' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'shared/header' %>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>

  <%= render 'shared/login_modal' %>
  <%= render 'shared/sign_up_modal' %>
</html>
